.container
  -# %h1 Pages#landing

  %h1 Welkommen!

  %p Find me in app/views/pages/landing.html.haml


#practice

  #small.container
    .row
      .col-md-6
        .item One
        .item Three
      .col-md-6
        .item Two

  #small.container
    .row
      .col-md-6
        .item A
        .item B
        .item C
        .item D
        .item E
        .item F
      .col-md-6
        .item G
        .item H
        .item I
        .item J
        .item K
        .item L
        .item M
        .item N
        .item 0

  .container
    .row
      .col-md-4
        .item1.item Item 1
      .col-md-4
        .item3.item Item 3
      .col-md-4
        .item5.item Item 5

  #container2.container
    .row
      .col-md-4
        .item1.item Item 1
        .item2.item Item 2
      .col-md-4
        .item3.item Item 3
        .item4.item Item 4
      .col-md-4
        .item5.item Item 5
        .item6.item Item 6

  #container3.container
    .row
      .col-md-4
        .item1.item Item 1
        .item2.item Item 2
        .item3.item Item 3
        .item4.item Item 4
      .col-md-4
        .item3.item Item 3
        .item4.item Item 4
      .col-md-4
        .item5.item Item 5
        .item6.item Item 6
        .item7.item Item 7
        .item8.item Item 8
